*{
    margin: 0;
    padding: 0%;

}
.container{
    background-color: black;
    background-size: cover;
    height: 100vh;

}
.innercontents img {
    height: 600px;
    width: 800px;
    margin-left: 20%;
    margin-top: 25px;
    border-radius: 20px;
}
.krish, h1{
    color: #fff;
   font-size: 50px;
}

@media screen and (min-width:360px)and (max-width:760px){
    .innercontents img {
        height: 250px;
        width: 250px;
       
    }
}